{
  "openapi": "3.1.0",
  "info": {
    "title": "StraitsX Public API",
    "version": "1.4.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.straitsx.com/v1",
      "description": "Sandbox"
    },
    {
      "url": "https://api.straitsx.com/v1",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "X-XFERS-APP-API-KEY"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/authorize/hello": {
      "get": {
        "summary": "Say Hello",
        "description": "Test your connection with our server to start your integration",
        "operationId": "say-hello",
        "parameters": [
          {
            "name": "X-XFERS-APP-API-KEY",
            "in": "header",
            "description": "You can retrieve this from your Dashboard Developer Tools.<br><br><strong>Note:</strong> The `X-XFERS-APP-API-KEY` is a mandatory header for all authentication methods, including standard API key usage and HTTP Request Signing mode.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PUBLIC-KEY-ID",
            "in": "header",
            "description": "The Key ID, can be retrieved from your StraitsX Dashboard.<br><br><strong>Note:</strong> This header attribute is required when HTTP Request Signing is enabled for your account.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-TIMESTAMP",
            "in": "header",
            "description": "Current Unix epoch time in seconds. Must be within ±300 seconds of server time.<br><br><strong>Note:</strong> This header attribute is required when HTTP Request Signing is enabled for your account.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-NONCE",
            "in": "header",
            "description": "A unique UUID string per request, used for replay protection. Must not be reused within the timestamp window.<br>Regex: `/\\A[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\\z/i`<br><br><strong>Note:</strong> This header attribute is required when HTTP Request Signing is enabled for your account.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SIGNATURE",
            "in": "header",
            "description": "Base64-encoded digital signature of the canonical request string.<br><br><strong>Note:</strong> This header attribute is required when HTTP Request Signing is enabled for your account.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"msg\": \"Hello world\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "Hello world",
                      "description": "A human-readable message returned by the server when the connection test succeeds."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/kyc/customer_profiles": {
      "get": {
        "summary": "Get a list of customer profiles",
        "description": "",
        "operationId": "get-list-of-customer-profiles",
        "parameters": [
          {
            "name": "X-XFERS-APP-API-KEY",
            "in": "header",
            "description": "You can retrieve this from your Dashboard Developer Tools.<br><br><strong>Note:</strong> The `X-XFERS-APP-API-KEY` is a mandatory header for all authentication methods, including standard API key usage and HTTP Request Signing mode.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PUBLIC-KEY-ID",
            "in": "header",
            "description": "The Key ID, can be retrieved from your StraitsX Dashboard.<br><br><strong>Note:</strong> This header attribute is required when HTTP Request Signing is enabled for your account.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-TIMESTAMP",
            "in": "header",
            "description": "Current Unix epoch time in seconds. Must be within ±300 seconds of server time.<br><br><strong>Note:</strong> This header attribute is required when HTTP Request Signing is enabled for your account.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-NONCE",
            "in": "header",
            "description": "A unique UUID string per request, used for replay protection. Must not be reused within the timestamp window.<br>Regex: `/\\A[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\\z/i`<br><br><strong>Note:</strong> This header attribute is required when HTTP Request Signing is enabled for your account.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SIGNATURE",
            "in": "header",
            "description": "Base64-encoded digital signature of the canonical request string.<br><br><strong>Note:</strong> This header attribute is required when HTTP Request Signing is enabled for your account.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of items per page(Must be greater than 0)<br>Regex: `/^0*[1-9][0-9]*$/`",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Page number(Must be greater than 0)<br>Regex: `/^0*[1-9][0-9]*$/`",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorted by <br> <b>Creation Date:</b> Ascending (created_at) / Descending (-created_at) <br><b>Updated Date:</b>Ascending (updated_at) / Descending (-updated_at)",
            "schema": {
              "type": "string",
              "default": "created_at"
            }
          },
          {
            "name": "filter[created_after]",
            "in": "query",
            "description": "ISO8601 format<br>Regex: `/^(\\d{4})(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01])(T([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)(\\.\\d+)?(Z|([+-]([01]\\d|2[0-3]):([0-5]\\d)))?)?)?)?$/i`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[created_before]",
            "in": "query",
            "description": "ISO8601 format<br>Regex: `/^(\\d{4})(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01])(T([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)(\\.\\d+)?(Z|([+-]([01]\\d|2[0-3]):([0-5]\\d)))?)?)?)?$/i`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updated_after]",
            "in": "query",
            "description": "ISO8601 format<br>Regex: `/^(\\d{4})(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01])(T([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)(\\.\\d+)?(Z|([+-]([01]\\d|2[0-3]):([0-5]\\d)))?)?)?)?$/i`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updated_before]",
            "in": "query",
            "description": "ISO8601 format<br>Regex: `/^(\\d{4})(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01])(T([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)(\\.\\d+)?(Z|([+-]([01]\\d|2[0-3]):([0-5]\\d)))?)?)?)?$/i`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idempotency_id",
            "in": "query",
            "description": "Regex: `/^\\s*.{1,191}\\s*$/`",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[registration_id]",
            "schema": {
              "type": "string"
            },
            "description": "NRIC/Passport No./Business Registration ID (4 to 35 alphanumeric)<br>Regex: `%r{\\A[a-zA-Z0-9/\\-?:().,'+ ]{4,35}\\z}`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n    {\n        \"data\": {\n            \"id\": \"customer_profile_a2a82920-fe65-4c45-bedf-rwer23123\",\n            \"type\": \"customer_profile\",\n            \"attributes\": {\n                \"customerName\": \"John Doe\",\n                \"registrationType\": \"personal\",\n                \"registrationId\": \"S1234567A\",\n                \"countryOfResidence\": \"SG\",\n                \"verificationStatus\": \"verified\",\n                \"dateOfBirth\": \"1990-01-21\",\n                \"gender\": null,\n                \"nationality\": \"SG\",\n                \"email\": \"test123@gmail.com\",\n                \"phoneNo\": null,\n                \"createdAt\": \"2023-07-07T18:11:29Z\",\n                \"updatedAt\": \"2023-07-07T18:11:29Z\"\n            }\n        }\n    },\n    {\n        \"data\": {\n            \"id\": \"customer_profile_bd465225-b772-48b5-a893-231ffere2\",\n            \"type\": \"customer_profile\",\n            \"attributes\": {\n                \"customerName\": \"Jane Doe\",\n                \"registrationType\": \"personal\",\n                \"registrationId\": \"S1234567B\",\n                \"countryOfResidence\": \"SG\",\n                \"verificationStatus\": \"verified\",\n                \"dateOfBirth\": \"1980-01-01\",\n                \"gender\": null,\n                \"nationality\": \"SG\",\n                \"email\": \"test345@gmail.com\",\n                \"phoneNo\": null,\n                \"createdAt\": \"2023-07-07T18:11:29Z\",\n                \"updatedAt\": \"2023-07-07T18:11:29Z\"\n            }\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique customer profile ID."
                          },
                          "type": {
                            "type": "string",
                            "description": "Request type."
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "customerName": {
                                "type": "string",
                                "description": "Customer's name."
                              },
                              "registrationType": {
                                "type": "string",
                                "description": "`personal`"
                              },
                              "registrationIdType": {
                                "type": "string",
                                "description": "`passport` or `identity_card`"
                              },
                              "registrationIdCountry": {
                                "type": "string",
                                "description": "Country that registration ID was issued."
                              },
                              "registrationId": {
                                "type": "string",
                                "description": "NRIC/Passport No."
                              },
                              "address": {
                                "type": "object",
                                "description": "Customer's residency address.",
                                "properties": {
                                  "street": {
                                    "type": "string",
                                    "description": "Street address."
                                  },
                                  "state": {
                                    "type": "string",
                                    "description": "State or region."
                                  },
                                  "postalCode": {
                                    "type": "string",
                                    "description": "Postal or ZIP code."
                                  },
                                  "country": {
                                    "type": "string",
                                    "description": "Country code."
                                  },
                                  "city": {
                                    "type": "string",
                                    "description": "City name."
                                  }
                                },
                                "required": [
                                  "street",
                                  "state",
                                  "postalCode",
                                  "country",
                                  "city"
                                ]
                              },
                              "verificationStatus": {
                                "type": "string",
                                "description": "Status of customer profile."
                              },
                              "dateOfBirth": {
                                "type": "string",
                                "description": "Customer's date of birth."
                              },
                              "gender": {
                                "type": "string",
                                "description": "`MALE` or `FEMALE`"
                              },
                              "nationality": {
                                "type": "string",
                                "description": "Customer's nationality."
                              },
                              "phoneNo": {
                                "type": "integer",
                                "description": "Customer's phone number."
                              },
                              "email": {
                                "type": "string",
                                "description": "Customer's email address."
                              }
                            },
                            "required": [
                              "customerName",
                              "registrationType",
                              "registrationIdType",
                              "registrationIdCountry",
                              "registrationId",
                              "address",
                              "verificationStatus",
                              "dateOfBirth",
                              "gender",
                              "nationality",
                              "phoneNo",
                              "email"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "attributes"
                        ]
                      }
                    },
                    "required": [
                      "data"
                    ]
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "code": "https://api-sandbox.straitsx.com/v1/kyc/customer_profiles?filter[created_after]=2025-01-01T00:00:00Z&page[3]=3",
              "language": "http",
              "name": ""
            }
          ],
          "samples-languages": [
            "http"
          ]
        }
      },
      "post": {
        "summary": "Create a business customer profile+ API",
        "description": "[Available in Sandbox/Production environment] Create a business CP+ profile on our platform.",
        "operationId": "create-a-customer-profile-api",
        "parameters": [
          {
            "name": "X-XFERS-APP-API-KEY",
            "in": "header",
            "description": "You can retrieve this from your Dashboard Developer Tools.<br><br><strong>Note:</strong> The `X-XFERS-APP-API-KEY` is a mandatory header for all authentication methods, including standard API key usage and HTTP Request Signing mode.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PUBLIC-KEY-ID",
            "in": "header",
            "description": "The Key ID, can be retrieved from your StraitsX Dashboard.<br><br><strong>Note:</strong> This header attribute is required when HTTP Request Signing is enabled for your account.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-TIMESTAMP",
            "in": "header",
            "description": "Current Unix epoch time in seconds. Must be within ±300 seconds of server time.<br><br><strong>Note:</strong> This header attribute is required when HTTP Request Signing is enabled for your account.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-NONCE",
            "in": "header",
            "description": "A unique UUID string per request, used for replay protection. Must not be reused within the timestamp window.<br>Regex: `/\\A[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\\z/i`<br><br><strong>Note:</strong> This header attribute is required when HTTP Request Signing is enabled for your account.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SIGNATURE",
            "in": "header",
            "description": "Base64-encoded digital signature of the canonical request string.<br><br><strong>Note:</strong> This header attribute is required when HTTP Request Signing is enabled for your account.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customerName",
                  "registrationType",
                  "registrationIdType",
                  "registrationId",
                  "entityLegalForm",
                  "businessContact",
                  "countryOfIncorporation",
                  "dateOfIncorporation",
                  "address",
                  "operatingAddress",
                  "natureOfBusiness",
                  "usOwnership",
                  "intermediaries",
                  "monthlyTransactionVolume",
                  "sourceOfFunds",
                  "directors",
                  "beneficialOwners",
                  "trader",
                  "documents",
                  "purposeOfAccount"
                ],
                "properties": {
                  "customerName": {
                    "type": "string",
                    "description": "Customer's full name (50 alphanumeric with spaces)<br>Regex: `/^(?=.{1,50}$)[a-zA-Z0-9 ]+$/`"
                  },
                  "customerNativeName": {
                    "type": "string",
                    "description": "Regex: `/^\\s*.{1,191}\\s*$/`"
                  },
                  "merchantRef": {
                    "type": "string",
                    "description": "Regex: `/^\\s*.{1,191}\\s*$/`"
                  },
                  "registrationType": {
                    "type": "string",
                    "description": "`Business`"
                  },
                  "registrationIdType": {
                    "type": "string",
                    "description": "<code>business_reg_no<code>"
                  },
                  "registrationId": {
                    "type": "string",
                    "description": "Business Registration Number of the customer.<br>4-35 alphanumeric chars.<br>Regex: `/\\A[a-zA-Z0-9\\- ]{4,35}\\z/`"
                  },
                  "entityLegalForm": {
                    "type": "string",
                    "description": "Accepted values: `PRIVATE_COMPANY`or`PUBLIC_COMPANY`"
                  },
                  "businessContact": {
                    "type": "string",
                    "description": "Provide the string in a valid format.<br>Regex: `^\\+?[1-9]\\d{0,3}[\\s\\-]?\\(?\\d{1,4}\\)?[\\s\\-]?\\d{1,4}[\\s\\-]?\\d{1,4}[\\s\\-]?\\d{0,4}$`"
                  },
                  "website": {
                    "type": "string",
                    "description": "Provide a valid URL.<br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                  },
                  "countryOfIncorporation": {
                    "type": "string",
                    "description": "Customer's country of incorporation.<br>2 digit ISO country code - https://www.iban.com/country-codes<br><br>List of accepted countries, Refer to Other Info > Accepted Countries"
                  },
                  "dateOfIncorporation": {
                    "type": "string",
                    "description": "`yyyy-MM-dd` format"
                  },
                  "address": {
                    "type": "object",
                    "description": "Customer's registered address.",
                    "required": [
                      "state",
                      "country",
                      "street",
                      "city"
                    ],
                    "properties": {
                      "street": {
                        "type": "string",
                        "description": "Regex: `/^(?=.{1,180}$)[a-zA-Z0-9\\-?:().,' +]+$/`"
                      },
                      "city": {
                        "type": "string",
                        "description": "Regex: `/^(?=.{1,20}$)[a-zA-Z0-9\\-?:().,' +]+$/`"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "Regex: `/^[A-Za-z0-9\\- ]{2,20}$/`"
                      },
                      "state": {
                        "type": "string",
                        "description": "Regex: `/^(?=.{1,15}$)[a-zA-Z0-9\\-?:().,' +]+$/`"
                      },
                      "country": {
                        "type": "string",
                        "description": "2 or 3 digit ISO country code or ISO short name - https://www.iban.com/country-codes <br>Will be standardized to 2 digit ISO country code before storing."
                      }
                    }
                  },
                  "operatingAddress": {
                    "type": "object",
                    "description": "Customer’s business operating address.",
                    "required": [
                      "city",
                      "state",
                      "country",
                      "street"
                    ],
                    "properties": {
                      "street": {
                        "type": "string",
                        "description": "Regex: `/^(?=.{1,180}$)[a-zA-Z0-9\\-?:().,' +]+$/`"
                      },
                      "city": {
                        "type": "string",
                        "description": "Regex: `/^(?=.{1,20}$)[a-zA-Z0-9\\-?:().,' +]+$/`"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "Regex: `/^[A-Za-z0-9\\- ]{2,20}$/`"
                      },
                      "state": {
                        "type": "string",
                        "description": "Regex: `/^(?=.{1,15}$)[a-zA-Z0-9\\-?:().,' +]+$/`"
                      },
                      "country": {
                        "type": "string",
                        "description": "2 or 3 digit ISO country code or ISO short name - https://www.iban.com/country-codes <br>Will be standardized to 2 digit ISO country code before storing."
                      }
                    }
                  },
                  "natureOfBusiness": {
                    "type": "string",
                    "description": "Accepted Values:<br>`PERSONAL_INVESTMENT_COMPANIES`<br> `SUPERANNUATION_FUND`<br> `CRYPTO_MINING`<br> `PROPRIETARY_TRADING`<br> `ALGORITHM_CRYPTO_TRADERS`<br> `P2P_MERCHANTS`<br> `OTHER_WEB3_SERVICES_NON_VASP`<br> `ACCOMMODATION_AND_FOOD_SERVICES`<br> `WASTE_MANAGEMENT_AND_REMEDIATION_SERVICES`<br> `AGRICULTURE_FORESTRY_FISHING_AND_HUNTING`<br> `ARTS_ENTERTAINMENT_AND_RECREATION`<br> `EDUCATIONAL_SERVICES`<br> `GAMING`<br> `HEALTHCARE_AND_SOCIAL_ASSISTANCE`<br> `INFORMATION`<br> `GENERAL_MANUFACTURING`<br> `PROFESSIONAL_SERVICES`<br> `SCIENTIFIC_AND_TECHNICAL_SERVICES`<br> `RETAIL_ELECTRONICS`<br> `RETAIL_FOOD_AND_BEVERAGE`<br> `RETAIL_JEWELRY`<br> `RETAIL_OTHERS`<br> `SALE_OF_DRUGS_AND_PHARMACEUTICAL_PRODUCTS`<br> `TRANSPORTATION_AND_WAREHOUSING`<br> `FAMILY_OFFICE`<br> `SOVEREIGN_WEALTH_FUND`<br> `INVESTMENT_FUNDS`<br> `CRYPTO_EXCHANGE_BROKER`<br> `CRYPTO_ATM`<br> `OTHER_DIGITAL_ASSET_SERVICE_PROVIDERS_VASP`<br> `BANK`<br> `NON_BANK_FINANCIAL_INSTITUTION`<br> `MONEY_SERVICES_BUSINESS_PAYMENT_SERVICE_PROVIDERS`<br> `CONSTRUCTION`<br> `GENERAL_WHOLESALERS`<br> `MANAGEMENT_OF_COMPANIES`<br> `PRECIOUS_STONES_METALS_DEALERS`<br> `CRUDE_OIL_NATURAL_GAS_DEALERS`<br> `PAWN_SHOPS`<br> `PUBLIC_ADMINISTRATION`<br> `REAL_ESTATE_RENTAL_LEASING`<br> `UTILITIES`<br> `OTHERS`<br>"
                  },
                  "otherNatureOfBusiness": {
                    "type": "string",
                    "description": "*Required field if `natureOfBusiness` is `OTHERS`<br>Format: Free text"
                  },
                  "usOwnership": {
                    "type": "boolean",
                    "description": "`true` / `false`"
                  },
                  "intermediaries": {
                    "type": "boolean",
                    "description": "`true` / `false` - Refers to this onboarding question: “Is your company owned by any intermediary companies/legal arrangement (at least 10% or more)?"
                  },
                  "intermediariesDocuments": {
                    "type": "array",
                    "description": "*Required field if `intermediaries` is `true`",
                    "items": {
                      "properties": {
                        "certificateOfIncorporation": {
                          "type": "string",
                          "description": "Required field if `intermediaries` is `true`<br><br>File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                        },
                        "memorandum": {
                          "type": "string",
                          "description": "Required field if `intermediaries` is `true`<br><br>File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                        },
                        "registerOfMembers": {
                          "type": "string",
                          "description": "Required field if `intermediaries` is `true`<br><br>File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                        },
                        "certificateOfIncumbency": {
                          "type": "string",
                          "description": "Required field if `intermediaries` is `true`<br><br>File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "monthlyTransactionVolume": {
                    "type": "string",
                    "description": "In USD.<br>Accepted Values: `0_TO_100000`, `100001_TO_500000`, `500001_TO_1000000`, `100001_TO_10000000`, `GT_10000000`"
                  },
                  "sourceOfWealth": {
                    "type": "object",
                    "description": "*Required if entity is deemed High Risk by StraitsX or if require higher daily limits (Refer to Other Info > Transaction Limit Tiers)",
                    "properties": {
                      "loanFromParentCompany": {
                        "type": "object",
                        "properties": {
                          "document": {
                            "type": "string",
                            "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                          }
                        }
                      },
                      "loanFromDirectorsShareholders": {
                        "type": "object",
                        "properties": {
                          "document": {
                            "type": "string",
                            "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                          }
                        }
                      },
                      "investorFunds": {
                        "type": "object",
                        "properties": {
                          "document": {
                            "type": "string",
                            "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                          }
                        }
                      },
                      "businessLoans": {
                        "type": "object",
                        "properties": {
                          "document": {
                            "type": "string",
                            "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                          }
                        }
                      },
                      "businessRevenue": {
                        "type": "object",
                        "properties": {
                          "document": {
                            "type": "string",
                            "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                          }
                        }
                      },
                      "customerFundsForInvestment": {
                        "type": "object",
                        "properties": {
                          "document": {
                            "type": "string",
                            "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                          }
                        }
                      },
                      "arbitrageTrading": {
                        "type": "object",
                        "properties": {
                          "document": {
                            "type": "string",
                            "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                          }
                        }
                      },
                      "others": {
                        "type": "object",
                        "properties": {
                          "document": {
                            "type": "string",
                            "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                          },
                          "details": {
                            "type": "string",
                            "description": "Max 255 chars.<br>Regex: `/^\\s*.{1,255}\\s*$/`"
                          }
                        }
                      }
                    }
                  },
                  "sourceOfFunds": {
                    "type": "array",
                    "description": "Accepted Values:<br>`LOAN_FROM_PARENT_COMPANY`<br> `LOAN_FROM_DIRECTORS_SHAREHOLDERS`<br> `INVESTOR_FUNDS`<br> `BUSINESS_LOANS`<br> `BUSINESS_REVENUE`<br> `CUSTOMER_FUNDS_FOR_INVESTMENT`<br> `ARBITRAGE_TRADING`<br> `EMPLOYMENT_INCOME`<br> `BUSINESS_OWNERSHIP_INCOME`<br> `PROPERTY_OWNERSHIP`<br> `INVESTMENT_HOLDINGS_RETURNS`<br> `GIFTS_INHERITANCE`<br> `CASH_SAVINGS`<br> `OTHERS`",
                    "items": {
                      "type": "string"
                    }
                  },
                  "otherSourceOfFunds": {
                    "type": "string",
                    "description": "*Required field if `sourceOfFunds` includes `OTHERS`<br>Free text."
                  },
                  "directors": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "firstName": {
                          "type": "string",
                          "description": "Max 191 chars.<br>Regex: `/^\\s*.{1,191}\\s*$/`"
                        },
                        "middleName": {
                          "type": "string",
                          "description": "Max 191 chars.<br>Regex: `/^\\s*.{1,191}\\s*$/`"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "Max 191 chars.<br>Regex: `/^\\s*.{1,191}\\s*$/`"
                        },
                        "nativeName": {
                          "type": "string",
                          "description": "Regex: `/^\\s*.{1,191}\\s*$/`"
                        },
                        "dateOfBirth": {
                          "type": "string",
                          "description": "Director’s date of birth in `yyyy-MM-dd` format."
                        },
                        "registrationId": {
                          "type": "string",
                          "description": "4-20 alphanumeric chars.<br>Regex: `/\\A[a-zA-Z0-9]{4,20}\\z/`"
                        },
                        "registrationIdType": {
                          "type": "string",
                          "description": "`passport` / `identity_card`"
                        },
                        "registrationIdCountry": {
                          "type": "string",
                          "description": "2 digit ISO country code - https://www.iban.com/country-codes"
                        },
                        "identityDocuments": {
                          "type": "object",
                          "description": "ID or Passport - Coloured, contains nationality, not expired",
                          "properties": {
                            "passport": {
                              "type": "string",
                              "description": "Required field if `directors.[].registrationIdType` is `passport`<br><br>File link Passport(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                            },
                            "idFront": {
                              "type": "string",
                              "description": "Required field if `directors.[].registrationIdType` is `identity_card`<br><br>File link ID(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                            },
                            "idBack": {
                              "type": "string",
                              "description": "Required field if `directors.[].registrationIdType` is `identity_card`<br><br>File link ID(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                            }
                          }
                        },
                        "nationality": {
                          "type": "string",
                          "description": "2 digit ISO country code - https://www.iban.com/country-codes"
                        },
                        "countryOfResidence": {
                          "type": "string",
                          "description": "2 digit ISO country code - https://www.iban.com/country-codes <br>Cannot be in the list of countries not accepted, Refer to Other Info > Countries Not Accepted"
                        }
                      },
                      "required": [
                        "firstName",
                        "lastName",
                        "dateOfBirth",
                        "registrationId",
                        "registrationIdType",
                        "registrationIdCountry",
                        "nationality",
                        "countryOfResidence"
                      ],
                      "type": "object"
                    }
                  },
                  "beneficialOwners": {
                    "type": "array",
                    "description": "Pass in all beneficial owners for the business",
                    "items": {
                      "properties": {
                        "firstName": {
                          "type": "string",
                          "description": "Max 191 chars.<br>Regex: `/^\\s*.{1,191}\\s*$/`"
                        },
                        "middleName": {
                          "type": "string",
                          "description": "Max 191 chars.<br>Regex: `/^\\s*.{1,191}\\s*$/`"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "Max 191 chars.<br>Regex: `/^\\s*.{1,191}\\s*$/`"
                        },
                        "nativeName": {
                          "type": "string",
                          "description": "Regex: `/^\\s*.{1,191}\\s*$/`"
                        },
                        "dateOfBirth": {
                          "type": "string",
                          "description": "BO’s date of birth `yyyy-MM-dd` format"
                        },
                        "registrationId": {
                          "type": "string",
                          "description": "4-20 alphanumeric chars.<br>Regex: `/\\A[a-zA-Z0-9]{4,20}\\z/`"
                        },
                        "registrationIdType": {
                          "type": "string",
                          "description": "`passport` / `identity_card`"
                        },
                        "registrationIdCountry": {
                          "type": "string",
                          "description": "2 digit ISO country code - https://www.iban.com/country-codes <br>Cannot be in the list of countries not accepted, Refer to Other Info > Countries Not Accepted"
                        },
                        "identityDocuments": {
                          "type": "object",
                          "description": "ID or Passport - Coloured, contains nationality, not expired",
                          "properties": {
                            "passport": {
                              "type": "string",
                              "description": "Required field if `directors.[].registrationIdType` is `passport`<br><br>File link Passport(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                            },
                            "idFront": {
                              "type": "string",
                              "description": "Required field if `directors.[].registrationIdType` is `identity_card`<br><br>File link ID(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                            },
                            "idBack": {
                              "type": "string",
                              "description": "Required field if `directors.[].registrationIdType` is `identity_card`<br><br>File link ID(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                            }
                          }
                        },
                        "address": {
                          "type": "object",
                          "description": "Wrap `street`, `city`, `country` etc",
                          "required": [
                            "street",
                            "city",
                            "state",
                            "country"
                          ],
                          "properties": {
                            "street": {
                              "type": "string",
                              "description": "Regex: `/^(?=.{1,180}$)[a-zA-Z0-9\\-?:().,' +]+$/`"
                            },
                            "city": {
                              "type": "string",
                              "description": "Regex: `/^(?=.{1,20}$)[a-zA-Z0-9\\-?:().,' +]+$/`"
                            },
                            "postalCode": {
                              "type": "string",
                              "description": "Regex: `/^[A-Za-z0-9\\- ]{2,20}$/`"
                            },
                            "state": {
                              "type": "string",
                              "description": "Regex: `/^(?=.{1,15}$)[a-zA-Z0-9\\-?:().,' +]+$/`"
                            },
                            "country": {
                              "type": "string",
                              "description": "2 or 3 digit ISO country code or ISO short name - https://www.iban.com/country-codes <br>Will be standardized to 2 digit ISO country code before storing."
                            }
                          }
                        },
                        "proofOfAddress": {
                          "type": "string",
                          "description": "File link for ID(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`<br><br>Proof of Address - Not dated more than 6 months (examples include utility bill, bank statement, government-issued document), if so, acceptable to provide an updated document within 30 business days after account opening."
                        },
                        "nationality": {
                          "type": "string",
                          "description": "2 digit ISO country code - https://www.iban.com/country-codes <br>Cannot be in the list of countries not accepted, Refer to Other Info > Countries Not Accepted"
                        },
                        "countryOfResidence": {
                          "type": "string",
                          "description": "2 digit ISO country code - https://www.iban.com/country-codes <br>Cannot be in the list of countries not accepted, Refer to Other Info > Countries Not Accepted"
                        }
                      },
                      "required": [
                        "firstName",
                        "lastName",
                        "dateOfBirth",
                        "registrationId",
                        "registrationIdType",
                        "registrationIdCountry",
                        "proofOfAddress",
                        "nationality",
                        "countryOfResidence"
                      ],
                      "type": "object"
                    }
                  },
                  "trader": {
                    "type": "object",
                    "description": "Pass in the main trader’s information.",
                    "required": [
                      "firstName",
                      "lastName",
                      "dateOfBirth",
                      "registrationId",
                      "registrationIdType",
                      "registrationIdCountry",
                      "proofOfAddress",
                      "selfie",
                      "livenessSnapshot",
                      "livenessResult",
                      "nationality",
                      "countryOfResidence"
                    ],
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "Max 191 chars.<br>Regex: `/^\\s*.{1,191}\\s*$/`"
                      },
                      "middleName": {
                        "type": "string",
                        "description": "Max 191 chars.<br>Regex: `/^\\s*.{1,191}\\s*$/`"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "Max 191 chars.<br>Regex: `/^\\s*.{1,191}\\s*$/`"
                      },
                      "nativeName": {
                        "type": "string",
                        "description": "Regex: `/^\\s*.{1,191}\\s*$/`"
                      },
                      "dateOfBirth": {
                        "type": "string",
                        "description": "Main trader’s date of birth in `yyyy-MM-dd` format."
                      },
                      "registrationId": {
                        "type": "string",
                        "description": "4-20 alphanumeric chars.<br>Regex: `/\\A[a-zA-Z0-9]{4,20}\\z/`"
                      },
                      "registrationIdType": {
                        "type": "string",
                        "description": "`passport` / `identity_card`"
                      },
                      "registrationIdCountry": {
                        "type": "string",
                        "description": "2 digit ISO country code - https://www.iban.com/country-codes"
                      },
                      "identityDocuments": {
                        "type": "object",
                        "description": "ID or Passport - Coloured, contains nationality, not expired.",
                        "properties": {
                          "passport": {
                            "type": "string",
                            "description": "Required field if `directors.[].registrationIdType` is `passport`<br><br>File link Passport(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                          },
                          "idFront": {
                            "type": "string",
                            "description": "Required field if `directors.[].registrationIdType` is `identity_card`<br><br>File link ID(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                          },
                          "idBack": {
                            "type": "string",
                            "description": "Required field if `directors.[].registrationIdType` is `identity_card`<br><br>File link ID(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                          }
                        }
                      },
                      "address": {
                        "type": "object",
                        "description": "Wrap `street`, `city`, `country` etc.",
                        "required": [
                          "street",
                          "city",
                          "state",
                          "country"
                        ],
                        "properties": {
                          "street": {
                            "type": "string",
                            "description": "Regex: `/^(?=.{1,180}$)[a-zA-Z0-9\\-?:().,' +]+$/`"
                          },
                          "city": {
                            "type": "string",
                            "description": "Regex: `/^(?=.{1,20}$)[a-zA-Z0-9\\-?:().,' +]+$/`"
                          },
                          "postalCode": {
                            "type": "string",
                            "description": "Regex: `/^[A-Za-z0-9\\- ]{2,20}$/`"
                          },
                          "state": {
                            "type": "string",
                            "description": "Regex: `/^(?=.{1,15}$)[a-zA-Z0-9\\-?:().,' +]+$/`"
                          },
                          "country": {
                            "type": "string",
                            "description": "2 or 3 digit ISO country code or ISO short name - https://www.iban.com/country-codes <br><br>Will be standardized to 2 digit ISO country code before storing<br><br>Cannot be in the list of countries not accepted, Refer to Other Info > Countries Not Accepted"
                          }
                        }
                      },
                      "proofOfAddress": {
                        "type": "string",
                        "description": "File link for ID(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                      },
                      "selfie": {
                        "type": "string",
                        "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                      },
                      "livenessSnapshot": {
                        "type": "string",
                        "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                      },
                      "livenessResult": {
                        "type": "boolean",
                        "description": "`true` / `false`"
                      },
                      "nationality": {
                        "type": "string",
                        "description": "2 digit ISO country code - https://www.iban.com/country-codes"
                      },
                      "countryOfResidence": {
                        "type": "string",
                        "description": "2 digit ISO country code - https://www.iban.com/country-codes <br><br>Cannot be in the list of countries not accepted, Refer to Other Info > Countries Not Accepted"
                      }
                    }
                  },
                  "documents": {
                    "type": "object",
                    "required": [
                      "certificateOfIncorporation",
                      "memorandum",
                      "registerOfDirectors",
                      "registerOfMembers",
                      "proofOfAddress",
                      "boardResolution"
                    ],
                    "properties": {
                      "certificateOfIncorporation": {
                        "type": "string",
                        "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                      },
                      "memorandum": {
                        "type": "string",
                        "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                      },
                      "registerOfDirectors": {
                        "type": "string",
                        "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                      },
                      "registerOfMembers": {
                        "type": "string",
                        "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                      },
                      "amlQuestionnaire": {
                        "type": "string",
                        "description": "If entity operates licensable activities (e.g. licensed financial institutions), AML Questionnaire is required.<br><br>If inputs tend to be vague or do not clearly explain sufficient AML policies in adherence to international/Singapore regulations, we will need to clarify.<br><br>File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                      },
                      "sanctionQuestionnaire": {
                        "type": "string",
                        "description": "If entity operates in sanctioned countries, we would require % revenue generation to understand the exposure to the sanctioned countries. If below 10%, it will be acceptable.<br><br>File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                      },
                      "operatingLicense": {
                        "type": "string",
                        "description": "If entity operates licensable activities (e.g. licensed financial institutions), proof of license/ exemption is required.<br><br>File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                      },
                      "proofOfAddress": {
                        "type": "string",
                        "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                      },
                      "boardResolution": {
                        "type": "string",
                        "description": "Must be signed off by Director.<br><br>File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                      },
                      "declaration": {
                        "type": "string",
                        "description": "File link(Valid URL), accepts png/jpg/jpeg/pdf.<br><br>Regex: `/^(https?:\\/\\/)?(([0-9]{1,3}(\\.[0-9]{1,3}){3,5})|(([-\\p{L}0-9]{1,256}\\.)+[-\\p{L}]{2,6}))(:[0-9]+)?([\\/?].*)?$/i`"
                      }
                    }
                  },
                  "licensingStatus": {
                    "type": "string",
                    "description": "Accepts: `FULLY_LICENSED`, `EXEMPT_FROM_LICENSING`, `IN_PRINCIPLE_APPROVAL_GRANTED`, `LICENSE_APPLICATION_IN_PROGRESS`, `NOT_SUBJECTED_TO_LICENSING_REQUIREMENTS`<br><br>`documents.operatingLicense` field becomes mandatory if any option is selected apart from `NOT_SUBJECTED_TO_LICENSING_REQUIREMENTS` "
                  },
                  "purposeOfAccount": {
                    "type": "string",
                    "description": "Declared purpose of the account.<br>Accepts only `INVESTMENT`, `TRADING`, `REMITTANCES`, `TREASURY MANAGEMENT`, `BUSINESS USAGE` and `OTHERS`"
                  },
                  "otherPurposeOfAccount": {
                    "type": "string",
                    "description": "Required if `OTHERS` is selected for purposeOfAccount field."
                  }
                }
              },
              "examples": {
                "Sample Request": {
                  "value": {
                    "customerName": "ABC Pte Ltd",
                    "registrationType": "business",
                    "registrationIdCountry": "SG",
                    "registrationIdType": "business_reg_no",
                    "registrationId": "20123231SA",
                    "purposeOfAccount": "OTHERS",
                    "otherPurposeOfAccount": "TEST",
                    "entityLegalForm": "PUBLIC_COMPANY",
                    "businessContact": "0365109217",
                    "licensingStatus": "NOT_SUBJECTED_TO_LICENSING_REQUIREMENTS",
                    "countryOfIncorporation": "SG",
                    "dateOfIncorporation": "1999-09-09",
                    "address": {
                      "street": "Northside 18th",
                      "city": "Singapore",
                      "postalCode": "8809",
                      "state": "Singapore",
                      "country": "SG"
                    },
                    "operatingAddress": {
                      "street": "Northside 18th",
                      "city": "Singapore",
                      "postalCode": "8809",
                      "state": "Singapore",
                      "country": "SG"
                    },
                    "natureOfBusiness": "PERSONAL_INVESTMENT_COMPANIES",
                    "usOwnership": true,
                    "intermediaries": true,
                    "intermediariesDocuments": [
                      {
                        "certificateOfIncorporation": "https://xyz.com/download-link",
                        "memorandum": "https://xyz.com/download-link",
                        "registerOfMembers": "https://xyz.com/download-link",
                        "certificateOfIncumbency": "https://xyz.com/download-link"
                      }
                    ],
                    "monthlyTransactionVolume": "80001_TO_100000",
                    "sourceOfWealth": {
                      "investorFunds": {
                        "document": "https://xyz.com/download-link"
                      },
                      "businessLoans": {
                        "document": "https://xyz.com/download-link"
                      },
                      "others": {
                        "details": "other source of wealth",
                        "document": "https://xyz.com/download-link"
                      }
                    },
                    "sourceOfFunds": [
                      "PERSONAL_SAVINGS",
                      "OTHERS"
                    ],
                    "otherSourceOfFunds": "other source of funds",
                    "directors": [
                      {
                        "firstName": "John",
                        "lastName": "Doe",
                        "dateOfBirth": "1950-01-01",
                        "registrationId": "A12321321",
                        "registrationIdType": "passport",
                        "registrationIdCountry": "SG",
                        "identityDocuments": {
                          "passport": "https://xyz.com/download-link"
                        },
                        "nationality": "SG",
                        "countryOfResidence": "SG"
                      },
                      {
                        "firstName": "Jane",
                        "lastName": "Doe",
                        "dateOfBirth": "1950-01-01",
                        "registrationId": "A12321321",
                        "registrationIdType": "identity_card",
                        "registrationIdCountry": "SG",
                        "identityDocuments": {
                          "idFront": "https://xyz.com/download-link",
                          "idBack": "https://xyz.com/download-link"
                        },
                        "nationality": "SG",
                        "countryOfResidence": "SG"
                      }
                    ],
                    "beneficialOwners": [
                      {
                        "firstName": "John",
                        "lastName": "Doe",
                        "dateOfBirth": "1950-01-01",
                        "registrationId": "A12321321",
                        "registrationIdType": "passport",
                        "registrationIdCountry": "SG",
                        "identityDocuments": {
                          "passport": "https://xyz.com/download-link"
                        },
                        "nationality": "SG",
                        "countryOfResidence": "SG",
                        "address": {
                          "street": "Northside 18th",
                          "city": "Singapore",
                          "postalCode": "8809",
                          "state": "Singapore",
                          "country": "SG"
                        },
                        "proofOfAddress": "https://xyz.com/download-link"
                      },
                      {
                        "firstName": "Jane",
                        "lastName": "Doe",
                        "dateOfBirth": "1950-01-01",
                        "registrationId": "A12321321",
                        "registrationIdType": "identity_card",
                        "registrationIdCountry": "SG",
                        "identityDocuments": {
                          "idFront": "https://xyz.com/download-link",
                          "idBack": "https://xyz.com/download-link"
                        },
                        "nationality": "SG",
                        "countryOfResidence": "SG",
                        "address": {
                          "street": "Northside 18th",
                          "city": "Singapore",
                          "postalCode": "8809",
                          "state": "Singapore",
                          "country": "SG"
                        },
                        "proofOfAddress": "https://xyz.com/download-link"
                      }
                    ],
                    "trader": {
                      "firstName": "John",
                      "lastName": "Doe",
                      "dateOfBirth": "1950-01-01",
                      "registrationId": "A12321321",
                      "registrationIdType": "identity_card",
                      "registrationIdCountry": "SG",
                      "identityDocuments": {
                        "idFront": "https://xys.com/download-link",
                        "idBack": "https://xys.com/download-link"
                      },
                      "selfie": "https://xyz.com/download-link",
                      "livenessSnapshot": "https://xyz.com/download-link",
                      "livenessResult": true,
                      "nationality": "SG",
                      "countryOfResidence": "SG",
                      "address": {
                        "street": "Northside 18th",
                        "city": "Singapore",
                        "postalCode": "8809",
                        "state": "Singapore",
                        "country": "SG"
                      },
                      "proofOfAddress": "https://xyz.com/download-link"
                    },
                    "documents": {
                      "certificateOfIncorporation": "https://xys.com/download-link",
                      "memorandum": "https://xys.com/download-link",
                      "registerOfDirectors": "https://xys.com/download-link",
                      "registerOfMembers": "https://xys.com/download-link",
                      "sanctionQuestionnaire": "https://xys.com/download-link",
                      "amlQuestionnaire": "https://xys.com/download-link",
                      "operatingLicense": "https://xys.com/download-link",
                      "proofOfAddress": "https://xys.com/download-link"
                    }
                  },
                  "summary": "Sample Request"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Customer Profile Returned": {
                    "value": {
                      "data": {
                        "id": "customer_profile_91689f61-ab6f-4126-af18-35a906046d72",
                        "type": "customer_profile",
                        "attributes": {
                          "customerName": "ABC Pte Ltd",
                          "registrationType": "business",
                          "registrationIdCountry": "SG",
                          "registrationIdType": "business_reg_no",
                          "registrationId": "20123231SA",
                          "purposeOfAccount": "OTHERS",
                          "otherPurposeOfAccount": "TEST",
                          "entityLegalForm": "PUBLIC_COMPANY",
                          "businessContact": "0365109217",
                          "licensingStatus": "NOT_SUBJECTED_TO_LICENSING_REQUIREMENTS",
                          "countryOfIncorporation": "SG",
                          "dateOfIncorporation": "1999-09-09",
                          "address": {
                            "street": "Northside 18th",
                            "city": "Singapore",
                            "postalCode": "8809",
                            "state": "Singapore",
                            "country": "SG"
                          },
                          "operatingAddress": {
                            "street": "Northside 18th",
                            "city": "Singapore",
                            "postalCode": "8809",
                            "state": "Singapore",
                            "country": "SG"
                          },
                          "natureOfBusiness": "PERSONAL_INVESTMENT_COMPANIES",
                          "usOwnership": true,
                          "intermediaries": true,
                          "intermediariesDocuments": [
                            {
                              "certificateOfIncorporation": "https://xyz.com/download-link",
                              "memorandum": "https://xyz.com/download-link",
                              "registerOfMembers": "https://xyz.com/download-link",
                              "certificateOfIncumbency": "https://xyz.com/download-link"
                            }
                          ],
                          "monthlyTransactionVolume": "80001_TO_100000",
                          "sourceOfWealth": {
                            "investorFunds": {
                              "document": "https://xyz.com/download-link"
                            },
                            "businessLoans": {
                              "document": "https://xyz.com/download-link"
                            },
                            "others": {
                              "details": "other source of wealth",
                              "document": "https://xyz.com/download-link"
                            }
                          },
                          "sourceOfFunds": [
                            "PERSONAL_SAVINGS",
                            "OTHERS"
                          ],
                          "otherSourceOfFunds": "other source of funds",
                          "directors": [
                            {
                              "firstName": "John",
                              "lastName": "Doe",
                              "dateOfBirth": "1950-01-01",
                              "registrationId": "A12321321",
                              "registrationIdType": "passport",
                              "registrationIdCountry": "SG",
                              "identityDocuments": {
                                "passport": "https://xyz.com/download-link"
                              },
                              "nationality": "SG",
                              "countryOfResidence": "SG"
                            },
                            {
                              "firstName": "Jane",
                              "lastName": "Doe",
                              "dateOfBirth": "1950-01-01",
                              "registrationId": "A12321321",
                              "registrationIdType": "identity_card",
                              "registrationIdCountry": "SG",
                              "identityDocuments": {
                                "idFront": "https://xyz.com/download-link",
                                "idBack": "https://xyz.com/download-link"
                              },
                              "nationality": "SG",
                              "countryOfResidence": "SG"
                            }
                          ],
                          "beneficialOwners": [
                            {
                              "firstName": "John",
                              "lastName": "Doe",
                              "dateOfBirth": "1950-01-01",
                              "registrationId": "A12321321",
                              "registrationIdType": "passport",
                              "registrationIdCountry": "SG",
                              "identityDocuments": {
                                "passport": "https://xyz.com/download-link"
                              },
                              "nationality": "SG",
                              "countryOfResidence": "SG",
                              "address": {
                                "street": "Northside 18th",
                                "city": "Singapore",
                                "postalCode": "8809",
                                "state": "Singapore",
                                "country": "SG"
                              },
                              "proofOfAddress": "https://xyz.com/download-link"
                            },
                            {
                              "firstName": "Jane",
                              "lastName": "Doe",
                              "dateOfBirth": "1950-01-01",
                              "registrationId": "A12321321",
                              "registrationIdType": "identity_card",
                              "registrationIdCountry": "SG",
                              "identityDocuments": {
                                "idFront": "https://xyz.com/download-link",
                                "idBack": "https://xyz.com/download-link"
                              },
                              "nationality": "SG",
                              "countryOfResidence": "SG",
                              "address": {
                                "street": "Northside 18th",
                                "city": "Singapore",
                                "postalCode": "8809",
                                "state": "Singapore",
                                "country": "SG"
                              },
                              "proofOfAddress": "https://xyz.com/download-link"
                            }
                          ],
                          "trader": {
                            "firstName": "John",
                            "lastName": "Doe",
                            "dateOfBirth": "1950-01-01",
                            "registrationId": "A12321321",
                            "registrationIdType": "identity_card",
                            "registrationIdCountry": "SG",
                            "identityDocuments": {
                              "idFront": "https://xys.com/download-link",
                              "idBack": "https://xys.com/download-link"
                            },
                            "selfie": "https://xyz.com/download-link",
                            "livenessSnapshot": "https://xyz.com/download-link",
                            "livenessResult": true,
                            "nationality": "SG",
                            "countryOfResidence": "SG",
                            "address": {
                              "street": "Northside 18th",
                              "city": "Singapore",
                              "postalCode": "8809",
                              "state": "Singapore",
                              "country": "SG"
                            },
                            "proofOfAddress": "https://xyz.com/download-link"
                          },
                          "documents": {
                            "certificateOfIncorporation": "https://xys.com/download-link",
                            "memorandum": "https://xys.com/download-link",
                            "registerOfDirectors": "https://xys.com/download-link",
                            "registerOfMembers": "https://xys.com/download-link",
                            "sanctionQuestionnaire": "https://xys.com/download-link",
                            "amlQuestionnaire": "https://xys.com/download-link",
                            "operatingLicense": "https://xys.com/download-link",
                            "proofOfAddress": "https://xys.com/download-link"
                          },
                          "verificationStatus": "pending",
                          "createdAt": "2025-01-16T09:52:52Z",
                          "updatedAt": "2025-01-16T09:52:52Z"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "customer_profile_91689f61-ab6f-4126-af18-35a906046d72",
                          "description": "Unique customer profile ID."
                        },
                        "type": {
                          "type": "string",
                          "example": "customer_profile",
                          "description": "Request type.",
                          "default": "customer_profile"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "customerName": {
                              "type": "string",
                              "example": "ABC Pte Ltd",
                              "description": "Customer's full name."
                            },
                            "registrationType": {
                              "type": "string",
                              "example": "business",
                              "description": "Customer's registration type. `business`"
                            },
                            "registrationIdCountry": {
                              "type": "string",
                              "example": "SG",
                              "description": "The country that issues the ID."
                            },
                            "registrationIdType": {
                              "type": "string",
                              "example": "business_reg_no",
                              "description": "Customer's registration ID type. `business_reg_no`"
                            },
                            "registrationId": {
                              "type": "string",
                              "example": "20123231SA",
                              "description": "Business Registration Number (UEN) of the customer."
                            },
                            "entityLegalForm": {
                              "type": "string",
                              "example": "PUBLIC_COMPANY",
                              "description": "Legal form of the entity."
                            },
                            "businessContact": {
                              "type": "string",
                              "example": "0365109217",
                              "description": "Customer's business contact number."
                            },
                            "countryOfIncorporation": {
                              "type": "string",
                              "example": "SG",
                              "description": "This is country that incorporates the business."
                            },
                            "dateOfIncorporation": {
                              "type": "string",
                              "example": "1999-09-09",
                              "description": "Date that the company was incorporated. "
                            },
                            "address": {
                              "type": "object",
                              "properties": {
                                "street": {
                                  "type": "string",
                                  "example": "Northside 18th"
                                },
                                "city": {
                                  "type": "string",
                                  "example": "Singapore"
                                },
                                "postalCode": {
                                  "type": "string",
                                  "example": "8809"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "SG"
                                }
                              },
                              "description": "Customer's registered address."
                            },
                            "operatingAddress": {
                              "type": "object",
                              "properties": {
                                "street": {
                                  "type": "string",
                                  "example": "Northside 18th"
                                },
                                "city": {
                                  "type": "string",
                                  "example": "Singapore"
                                },
                                "postalCode": {
                                  "type": "string",
                                  "example": "8809"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "SG"
                                }
                              },
                              "description": "Customer's business operating address."
                            },
                            "natureOfBusiness": {
                              "type": "string",
                              "example": "PERSONAL_INVESTMENT_COMPANIES",
                              "description": "Customer's nature of business activity."
                            },
                            "usOwnership": {
                              "type": "boolean",
                              "example": true,
                              "default": true,
                              "description": "Indicates U.S. ownership."
                            },
                            "intermediaries": {
                              "type": "boolean",
                              "example": true,
                              "default": true,
                              "description": "Indicates use of intermediaries."
                            },
                            "intermediariesDocuments": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "certificateOfIncorporation": {
                                    "type": "string",
                                    "example": "https://xyz.com/download-link"
                                  },
                                  "memorandum": {
                                    "type": "string",
                                    "example": "https://xyz.com/download-link"
                                  },
                                  "registerOfMembers": {
                                    "type": "string",
                                    "example": "https://xyz.com/download-link"
                                  },
                                  "certificateOfIncumbency": {
                                    "type": "string",
                                    "example": "https://xyz.com/download-link"
                                  }
                                }
                              },
                              "description": "Documents related to intermediaries."
                            },
                            "monthlyTransactionVolume": {
                              "type": "string",
                              "example": "80001_TO_100000",
                              "description": "Customer's expected monthly transaction volume in USD."
                            },
                            "sourceOfWealth": {
                              "type": "object",
                              "properties": {
                                "investorFunds": {
                                  "type": "object",
                                  "properties": {
                                    "document": {
                                      "type": "string",
                                      "example": "https://xyz.com/download-link"
                                    }
                                  }
                                },
                                "businessLoans": {
                                  "type": "object",
                                  "properties": {
                                    "document": {
                                      "type": "string",
                                      "example": "https://xyz.com/download-link"
                                    }
                                  }
                                },
                                "others": {
                                  "type": "object",
                                  "properties": {
                                    "details": {
                                      "type": "string",
                                      "example": "other source of wealth"
                                    },
                                    "document": {
                                      "type": "string",
                                      "example": "https://xyz.com/download-link"
                                    }
                                  }
                                }
                              },
                              "description": "Customer's main source of wealth."
                            },
                            "sourceOfFunds": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "PERSONAL_SAVINGS"
                              },
                              "description": "Customer's source of funds."
                            },
                            "otherSourceOfFunds": {
                              "type": "string",
                              "example": "other source of funds",
                              "description": "Free-text source when `sourceOfFunds` include `OTHERS`."
                            },
                            "directors": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "firstName": {
                                    "type": "string",
                                    "example": "John"
                                  },
                                  "lastName": {
                                    "type": "string",
                                    "example": "Doe"
                                  },
                                  "dateOfBirth": {
                                    "type": "string",
                                    "example": "1950-01-01"
                                  },
                                  "registrationId": {
                                    "type": "string",
                                    "example": "A12321321"
                                  },
                                  "registrationIdType": {
                                    "type": "string",
                                    "example": "passport"
                                  },
                                  "registrationIdCountry": {
                                    "type": "string",
                                    "example": "SG"
                                  },
                                  "identityDocuments": {
                                    "type": "object",
                                    "properties": {
                                      "passport": {
                                        "type": "string",
                                        "example": "https://xyz.com/download-link"
                                      }
                                    }
                                  },
                                  "nationality": {
                                    "type": "string",
                                    "example": "SG"
                                  },
                                  "countryOfResidence": {
                                    "type": "string",
                                    "example": "SG"
                                  }
                                }
                              },
                              "description": "Director details."
                            },
                            "beneficialOwners": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "firstName": {
                                    "type": "string",
                                    "example": "John"
                                  },
                                  "lastName": {
                                    "type": "string",
                                    "example": "Doe"
                                  },
                                  "dateOfBirth": {
                                    "type": "string",
                                    "example": "1950-01-01"
                                  },
                                  "registrationId": {
                                    "type": "string",
                                    "example": "A12321321"
                                  },
                                  "registrationIdType": {
                                    "type": "string",
                                    "example": "passport"
                                  },
                                  "registrationIdCountry": {
                                    "type": "string",
                                    "example": "SG"
                                  },
                                  "identityDocuments": {
                                    "type": "object",
                                    "properties": {
                                      "passport": {
                                        "type": "string",
                                        "example": "https://xyz.com/download-link"
                                      }
                                    }
                                  },
                                  "nationality": {
                                    "type": "string",
                                    "example": "SG"
                                  },
                                  "countryOfResidence": {
                                    "type": "string",
                                    "example": "SG"
                                  },
                                  "address": {
                                    "type": "object",
                                    "properties": {
                                      "street": {
                                        "type": "string",
                                        "example": "Northside 18th"
                                      },
                                      "city": {
                                        "type": "string",
                                        "example": "Singapore"
                                      },
                                      "postalCode": {
                                        "type": "string",
                                        "example": "8809"
                                      },
                                      "state": {
                                        "type": "string",
                                        "example": "Singapore"
                                      },
                                      "country": {
                                        "type": "string",
                                        "example": "SG"
                                      }
                                    }
                                  },
                                  "proofOfAddress": {
                                    "type": "string",
                                    "example": "https://xyz.com/download-link"
                                  }
                                }
                              },
                              "description": "Beneficial owner details."
                            },
                            "trader": {
                              "type": "object",
                              "properties": {
                                "firstName": {
                                  "type": "string",
                                  "example": "John"
                                },
                                "lastName": {
                                  "type": "string",
                                  "example": "Doe"
                                },
                                "dateOfBirth": {
                                  "type": "string",
                                  "example": "1950-01-01"
                                },
                                "registrationId": {
                                  "type": "string",
                                  "example": "A12321321"
                                },
                                "registrationIdType": {
                                  "type": "string",
                                  "example": "identity_card"
                                },
                                "registrationIdCountry": {
                                  "type": "string",
                                  "example": "SG"
                                },
                                "identityDocuments": {
                                  "type": "object",
                                  "properties": {
                                    "idFront": {
                                      "type": "string",
                                      "example": "https://xys.com/download-link"
                                    },
                                    "idBack": {
                                      "type": "string",
                                      "example": "https://xys.com/download-link"
                                    }
                                  }
                                },
                                "selfie": {
                                  "type": "string",
                                  "example": "https://xyz.com/download-link"
                                },
                                "livenessSnapshot": {
                                  "type": "string",
                                  "example": "https://xyz.com/download-link"
                                },
                                "livenessResult": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                },
                                "nationality": {
                                  "type": "string",
                                  "example": "SG"
                                },
                                "countryOfResidence": {
                                  "type": "string",
                                  "example": "SG"
                                },
                                "address": {
                                  "type": "object",
                                  "properties": {
                                    "street": {
                                      "type": "string",
                                      "example": "Northside 18th"
                                    },
                                    "city": {
                                      "type": "string",
                                      "example": "Singapore"
                                    },
                                    "postalCode": {
                                      "type": "string",
                                      "example": "8809"
                                    },
                                    "state": {
                                      "type": "string",
                                      "example": "Singapore"
                                    },
                                    "country": {
                                      "type": "string",
                                      "example": "SG"
                                    }
                                  }
                                },
                                "proofOfAddress": {
                                  "type": "string",
                                  "example": "https://xyz.com/download-link"
                                }
                              },
                              "description": "Trader details."
                            },
                            "documents": {
                              "type": "object",
                              "properties": {
                                "certificateOfIncorporation": {
                                  "type": "string",
                                  "example": "https://xys.com/download-link"
                                },
                                "memorandum": {
                                  "type": "string",
                                  "example": "https://xys.com/download-link"
                                },
                                "registerOfDirectors": {
                                  "type": "string",
[...]
